# Ignore large dataset directories
DISC21/
NDEC/
*.env
*.pt
*.pyc


# Ignore all Slurm outputs (can be very large)
Code/artifacts/*
slurm_logs_archive/*
Code/Utilities/__pycache__/disc21_loader.cpython-312.pyc
Code/logs/*
